.userParent {
    // display: flex;
    // flex-direction: column;
    border: 1px lightgrey solid;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    padding: 1em;
    border-radius: 3px;
  }
  .nameParent, .townStateParent{
    display: flex;
    flex-direction: row;
  }
  p, h1, h2, h3, h4 {
    margin: 0;
    text-align: left;
  }