.modalMother{
    position: absolute;
    // width: 80vw;
    // height: 80vh;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    background: lightgrey;
    border: #333 solid 2px;
    border-radius: 3px;
}