.loadingMother{
    height: 100vh;
    .loadingMain, .loadingMainPartial{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loadingMainPartial{
        margin-left: 250px;
    }
}
