.profileMother{        
    background: #fbfbfb;
     height: calc(100% - 30px);
    width: 920px;
    display: flex;
    margin: 0 auto;
    border-left: lightgrey solid 1px;
    border-right: lightgrey solid 1px;
    padding: 30px 20px 0px 20px;
    .profileMain{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
        max-width: 1200px;


        hr {
            margin: 0 auto;
            width: 95%;
        }

        .profilePrimary{
            display: flex;
        }
    }
}