.gridMother{
    display: grid;
    grid-template-columns: repeat(4, 210px);
    justify-items: left;
    row-gap: 20px;
    column-gap: 20px;
    // margin-top: 20px; 
    width: 100%;
    max-width: 900px;

    @media(max-width: 720px) {
        grid-template-columns: repeat(3, 210px);
    }

    @media(max-width: 540px) {
        grid-template-columns: repeat(2, 50%);
        justify-content: center;;

    }

}    
.notAvailableMother{
        display: grid;
        grid-template-columns: repeat(4, 210px);
        justify-items: left;
        row-gap: 20px;
        column-gap: 20px;
        padding-top: 20px; 
        width: 100%;
        height: calc(100vh - 500px);
        max-width: 900px;
        .naHead{
            padding: 0;
            margin: 0;
            font-size: 1.7rem;
            margin-bottom: 10px;
            grid-column: 1/3;
        }
        span{
            width: 100%;
        }
    }
    