.browsePMother{
    margin-left: 250px;
    margin-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    .browsePMain{
        max-width: 1170px;
        .browsePHead{
            text-align: left;
            margin-left: 10px;
            font-size: 1.25em;
        }
        .browsePListings{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            justify-items: center;
            row-gap: 20px;
            column-gap: 20px;

            .listItem{
                display: flex;
                justify-content: center;
                flex-direction: column;
                // max-width: 180px;
                // max-height: 150px;
                position: relative;
                border: 1px lightgrey solid;
                border-radius: 2px;
                cursor: pointer;

                img, h2, h3, h4, p{
                    margin: 0;
                    padding: 0;
                }
                
                .itemImage{
                    height: 130px;
                    width: 100%;
                    object-fit: cover;
                }
                .itemTextParent{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    max-width: 160px;
                    padding: 8px;
                    
                }
                .itemTitle{
                    font-size: 1em;
                    font-weight: bold;
                    white-space: nowrap;
                    max-width: 160px;
                }
                .itemCityState{
                    font-size: 0.9rem;
                }
                .itemCategory{
                    font-size: 1em;
                }
                .itemPrice{
                    position: absolute;
                    top: 46%;
                    left: 10px;
                    padding: 2px;
                    font-size:  0.9em;
                    background: black;
                    opacity: .9;
                    color: white;
                    font-weight: bold;
                    border-radius: 3px;
                }
            }
            .toggleDiv{
                display: none;
                // position: absolute;
            }
            #overlay {
                position: fixed;
                opacity: 0;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
                pointer-events: none;
                transition: 200ms ease-in-out;
                z-index: 2;
              }
              #overlay.active {
                opacity: 1;
                pointer-events: all;
                overflow-y: hidden;
              }
        }

        .loadMoreBtn{
            appearance: none;
            font-size: 1rem;
            margin-top: 20px;
            border-radius: 3px;
            background: lightblue;
            font-weight: 700;
        }
    }
}