.browsePMother{
    .browsePMain{
        .browsePHead{
            text-align: left;
            margin-left: 10px;
            font-size: 1.25em;
        }
        .browsePListings{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            max-width: 1000px;
            row-gap: 20px;

            .listItem{
                display: flex;
                justify-content: center;
                flex-direction: column;
                // padding: 12px;
                position: relative;
                border: 1px lightgrey solid;
                border-radius: 2px;

                img, h2, h3, h4, p{
                    margin: 0;
                    padding: 0;
                }
                
                .itemImage{
                    height: 100px;
                    width: 180px;
                    object-fit: cover;
                }
                .itemTextParent{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-bottom: 15px;
                    padding: 8px;
                    
                }
                .itemTitle{
                    font-size: 1em;
                    font-weight: bold;
                }
                .itemCategory{
                    font-size: 1em;
                }
                .itemPrice{
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    padding: 2px;
                    font-size:  0.9em;
                    background: black;
                    opacity: .9;
                    color: white;
                    font-weight: bold;
                    border-radius: 3px;
                }
            }
        }
    }
}