form {
    display: flex;
    width: 100%;
    max-width: 400px;
    
  .searchInput {
    align-self: flex-start;
    width: 100%;
    
    padding: 0.3em 0.6em;
    appearance: none;
    border: lightgrey solid 1px;
    border-radius: 3px;
    font-size: 1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
  }
  .searchBtn {
    padding: 0.3em 0.6em;
    appearance: none;
    font-size: 1rem;
    border: lightgrey solid 1px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
  }

  @media (max-width: 500px) {
    width: calc(100% - 30px);
  }
}
