.sellFormMother{
    .sellForm{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 500px;
        margin: 0 auto;
        column-gap: .5em;
        row-gap: .4em;



        .titleInput{
            grid-column: 1/5;
        }        
        
        .imageInput{
            grid-column: 1/5;
        }

        .previewGrid{
            display: grid;
            grid-column: 1/5;
            grid-template-columns: repeat(4, 1fr);
            min-height: 100px;
            column-gap: 10px;

            .imgPreviewContainer{
                // grid-column: 1/5;
                width: 100%;
                border: 2px solid lightgrey;    
                
                // Default 
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: #cccccc;

                .imgPreview{
                    display: none;
                    width: 100%;
                    height: 100px;
                    object-fit: cover;
                }
            }

        }

        .priceInput{
            grid-column: 1/3;
        }
        .conditionInput{
            grid-column: 3/5;
        }
        .shippingInput{
            grid-column: 1/3;
        }
        .categoryInput{
            grid-column: 3/5;
        }
        .priceOfferInput{
            grid-column: 1/3;
        }
        .tradeInput{
            grid-column: 3/5;
        }

        input, select, textarea{
            padding: .4em;
            font-size: 1rem;
        }

        textarea{
            grid-column: 1/5;
            height: 250px;
            resize: none;
        }

        .postForSaleBtn{
            background: red;
            color: #ffffff;
            font-weight: bolder;
            font-size: 1.1rem;
            grid-column: 4/5;
            cursor: pointer;
        }
    }
}