.sellFormMother{
    .sellForm{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 500px;
        margin: 0 auto;
        column-gap: .5em;
        row-gap: .4em;
        margin-top: 25px;
        background: lightgrey;
        padding: 20px;
        border-radius: 2px;


        .titleInput{
            grid-column: 1/5;
        }        
        
        .imageInput{
            grid-column: 1/5;
        }

        .previewGrid{
            display: grid;
            grid-column: 1/5;
            grid-template-columns: repeat(4, 1fr);
            min-height: 100px;
            column-gap: 10px;

            .imgPreviewContainer{
                // grid-column: 1/5;
                width: 100%;
                // border: 2px solid lightgrey; 
                border: 2px solid grey;   
                
                // Default 
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                // color: #cccccc;
                color: grey;
                border-radius: 2px;

                .imgPreview{
                    display: none;
                    width: 100%;
                    height: 100px;
                    object-fit: cover;
                }
            }

        }

        .priceInput{
            grid-column: 1/3;
        }
        .conditionInput{
            grid-column: 3/5;
        }
        .shippingInput{
            grid-column: 1/3;
        }
        .categoryInput{
            grid-column: 3/5;
        }
        .priceOfferInput{
            grid-column: 1/3;
        }
        .tradeInput{
            grid-column: 3/5;
        }
        .tagsInput{
            grid-column: 1/4;
        }

        input, select, textarea{
            padding: .4em;
            font-size: 1rem;
        }

        textarea{
            grid-column: 1/5;
            height: 200px;
            resize: none;
        }

        .postForSaleBtn{
            background: red;
            color: #ffffff;
            font-weight: bolder;
            font-size: 1.1rem;
            grid-column: 4/5;
            cursor: pointer;
        }
    }
    .sellModalParent{
        display: none;
        z-index: 3;
        padding: 10px 20px;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 125px);
        background: lightblue;
        
    }

    #sellOverlay {
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        transition: 200ms ease-in-out;
        z-index: 2;
      }
      #sellOverlay.active {
        opacity: 1;
        pointer-events: all;
      }
}