.catParent{
    position: fixed;
    // left: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    .catHead{
        text-align: left;
        font-size: 1.25em;
        margin-bottom: 20px;
    }
    .catList{
        margin: 0;
        padding: 0;
        .catItem{
            list-style: none;
            text-align: left;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}