#editModalMother{
    background: #e3e3e3;
    border: black 2px solid;
    height: 70%;
    width: 70%;
    position: absolute;
    margin: 0 auto;
    left: 15%;
    right: 15%;
    bottom: 15%;
    top: 15%;

    .closeButton{
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        padding: 10px;
        font-weight: bolder;
    }
    .editForm{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;

        input{
            margin-bottom: 10px;
            padding: 4px;
            font-size: 0.8rem;
        }
    }
}