.browseViewMother{
    display: flex;

    .catParent{
        position: fixed;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
        .catHead{
            text-align: left;
            font-size: 1.25em;
        }
        .catList{
            margin: 0;
            padding: 0;
            .catItem{
                list-style: none;
                text-align: left;
                margin-bottom: 10px;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}