a{
    text-decoration: none;
    color: black;

    &:hover{
        text-decoration: underline;
    }
}


nav{
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    background: lightgrey;
    .homeLink{
        position: absolute;
        left: 0;
        align-self: center;
        margin-left: 20px;
    }
    .loggedIn, .loggedOut{
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        padding-right: 20px;
        height: 100%;
    }
    .loggedOut{
            .homeLink{
        position: absolute;
        left: 20px;
        align-self: center;
    }
    }

    .loggedIn{
        .logOutBtn{}
        .profileLink, .sellLink, .browseLink{
            margin-left: 10px;
        }

    }
}