a{
    text-decoration: none;
    color: black;

    &:hover{
        text-decoration: underline;
    }
}


nav{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    background: #4167b2;
    margin-bottom: 50px;
    a{
        color: #fff;
    }

    
    .homeLink{
        position: absolute;
        left: 0;
        align-self: center;
        margin-left: 20px;
    }
    .loggedIn, .loggedOut{
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        padding-right: 20px;
        height: 100%;    
        
        .logInBtn{
        margin-right: 10px;
    }
    }
    .loggedOut{
            .homeLink{
        position: absolute;
        left: 20px;
        align-self: center;
    }
    
    }

    .loggedIn{
        .logOutBtn{}
        .profileLink, .sellLink, .browseLink{
            margin-left: 10px;
        }

    }
    button{
        font-weight: 600;
        font-size: 0.8rem;
        border-radius: 3px;
        padding: .2em;
    }
}